@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
a {
  text-decoration: none;
  color: #fff;
}
.wrapper{
  background: #161616;
}
green {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

